.loading {
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
    animation: loading 2s ease-in-out 0s infinite forwards;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: -20px 0;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}