.search {
    border: none;
    padding: 12px 20px;
    margin-right: 20px;
    border-radius: 12px;
    font-size: 20px;
}

.search:focus{
    outline: none;
}

.btn {
  border: none;
  outline: none;
  background-color: #3AA9FF;
  color: #475569;
  font-size: 20px;
  padding: 3px 12px;
  border-radius: 12px;
}

