@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

body {
   background: url('https://img.pikbest.com/wp/202408/blue-sky-meadow-3d-rendered-cartoon-countryside-a-scenic-and-mountain-view-under-with-clouds_9857990.jpg!w700wp');
  background-repeat: no-repeat;
  background-size: 100vw;
}

.app {
  font-family: 'exo', sans-serif;
  height: 100vh;
  width: 100vw;
  margin: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}


main {
  border-radius: 12px;
  background-color: rgba(167, 227, 253, 0.751);
  padding:10px 20px 20px 20px ;
  border: 1px solid rgba(58, 169, 255, 0.35);
}

